<div [ngClass]="margin" class="container-fluid">
  <div class="row">
    <div class="col-3">
      <mat-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="card-icon-accepted text-center">
                <fa-icon [icon]="['fas', 'check']" class="icon"></fa-icon>
              </div>
            </div>
            <div (click)="applyFilter('Approved')" class="col-6 pointer-icon">
              <mat-card-header>
                <mat-card-subtitle>Accepted</mat-card-subtitle>
                <mat-card-title> {{acceptedCount}}</mat-card-title>
              </mat-card-header>
            </div>
          </div>
        </div>
        <mat-card-content class="card-footer">
          <small> Number of {{metadata.type}} requests accepted</small>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="card-icon-rejected text-center">
                <fa-icon [icon]="['fas', 'times']" class="icon"></fa-icon>
              </div>
            </div>
            <div (click)="applyFilter('Rejected')" class="col-6 pointer-icon">
              <mat-card-header>
                <mat-card-subtitle>Rejected</mat-card-subtitle>
                <mat-card-title> {{rejectedCount}}</mat-card-title>
              </mat-card-header>
            </div>
          </div>
        </div>
        <mat-card-content class="card-footer">
          <small> Number of {{metadata.type}}  requests rejected</small>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="card-icon-pending text-center">
                <fa-icon [icon]="['fas', 'exclamation']" class="icon"></fa-icon>
              </div>
            </div>
            <div (click)="applyFilter('In Progress')" class="col-6 pointer-icon">
              <mat-card-header>
                <mat-card-subtitle>Pending</mat-card-subtitle>
                <mat-card-title> {{pendingCount}}</mat-card-title>
              </mat-card-header>
            </div>
          </div>
        </div>
        <mat-card-content class="card-footer">
          <small> Number of {{metadata.type}}  requests pending</small>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="card-icon-total text-center">
                <fa-icon [icon]="['fas', 'tenge']" class="icon"></fa-icon>
              </div>
            </div>
            <div (click)="applyFilter('total')" class="col-6 pointer-icon">
              <mat-card-header>
                <mat-card-subtitle>Total</mat-card-subtitle>
                <mat-card-title> {{this.totalCount}}</mat-card-title>
              </mat-card-header>
            </div>
          </div>
        </div>
        <mat-card-content class="card-footer">
          <small> Total number of {{metadata.type}} requests</small>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">

      <div class="mat-elevation-z8 table-container">
        <table [dataSource]="dataSource" mat-table matSort>

          <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-column-select mat-header-cell>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [aria-label]="checkboxLabel()"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" color="warn">
              </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
              <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                            (change)="addInSelectedFiles($event , row)"
                            (click)="$event.stopPropagation()"
                            [aria-label]="checkboxLabel(row)"
                            [checked]="selection.isSelected(row)" color="warn">
              </mat-checkbox>
            </td>
          </ng-container>


          <ng-container *ngFor="let column of filteredColumns" [matColumnDef]="column">
            <th *matHeaderCellDef mat-header-cell> {{column | titlecase}} </th>
            <td *matCellDef="let element" mat-cell> {{element[column]}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell> &nbsp;&nbsp;&nbsp;Action</th>
            <td *matCellDef="let row" mat-cell>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-6">
                    <button (click)="acceptRequest(row)" color="primary" mat-mini-fab
                            matTooltip="accept selected request">
                      <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    </button>
                  </div>
                  <div class="col-6">
                    <button (click)="rejectRequest(row)" color="warn" mat-mini-fab
                            matTooltip="reject selected requests">
                      <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Group header -->
          <ng-container matColumnDef="groupHeader">
            <td *matCellDef="let group" colspan="999" mat-cell>
              <mat-card-subtitle>
                <div class="row">
                  <div class="col-0.5">
                    <mat-checkbox (change)="$event ? selection.toggle(group) : null"
                                  (change)="selectGroupChildren($event,group)"
                                  (click)="$event.stopPropagation()"
                                  [aria-label]="checkboxLabel(group)"
                                  [checked]="selection.isSelected(group)"
                                  class="pl-3" color="warn">
                    </mat-checkbox>
                  </div>
                  <div class="col-0.5">
                    <fa-icon *ngIf="group.expanded" [icon]="['fas', 'chevron-down']" class="pl-3"></fa-icon>
                    <fa-icon *ngIf="!group.expanded" [icon]="['fas', 'chevron-right']" class="pl-3"></fa-icon>
                  </div>
                  <div class="col">
                    <button color="warn" mat-stroked-button>{{groupByColumns[group.level - 1] | titlecase}}:</button>
                    <button color="primary" mat-button>{{group[groupByColumns[group.level - 1]]}}</button>
                  </div>
                </div>
              </mat-card-subtitle>
            </td>
          </ng-container>

          <tr (click)="groupHeaderClick(row)" *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
              mat-header-row></tr>

          <tr *matHeaderRowDef="getDisplayedColumns(); sticky: true" mat-header-row></tr>
          <tr *matRowDef="let row; columns: getDisplayedColumns();" mat-row>
          </tr>

        </table>
        <mat-toolbar class="mat-paginator-sticky">
          <mat-toolbar-row class="bg-light">
            <div *ngIf="acceptButtonShow" class="col-1">
              <button (click)="emitSelectedRows('accept')" color="primary" mat-raised-button
                      matTooltip="accept selected requests">Accept
                &nbsp;<fa-icon [icon]="['fas', 'check']"></fa-icon>
              </button>
            </div>
            <div *ngIf="rejectButtonShow" class="col-1 m-3">
              <button (click)="emitSelectedRows('reject')" color="warn" mat-raised-button
                      matTooltip="reject selected requests">Reject &nbsp;
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
              </button>
            </div>
            <div *ngIf="deleteButtonShow" class="col-2">
              <button (click)="emitSelectedRows('delete')" color="accent" mat-raised-button
                      matTooltip="delete selected requests">
                Delete &nbsp;<fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
              </button>
            </div>
            <div class="col">
              <span class="fxFlex"></span>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

    </div>
  </div>
</div>
