<mat-toolbar class="mat-raised-button bg-white cursor " role="heading">
  <mat-toolbar-row>
    <div class="container-fluid">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div *ngIf="isLoggedIn" class="col-3.5">
          <div class="custom-search-field">
            <form *ngIf="isThisBucketScreen" class="form-inline">
              <input [(ngModel)]="bucketFilter" aria-label="Search" autocomplete="off"
                     class="form-control mr-sm-2 search-field"
                     name="bucketFilter" placeholder="Bucket" type="search">
              <button (click)="searchBucket()" class="pointer" color="warn" mat-mini-fab type="submit">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
              </button>
            </form>
          </div>
        </div>
        <div *ngIf="isLoggedIn && (isThisFileExplorerScreen||isThisRelationsScreen)" class="col-4">
          <div *ngIf="isThisFileExplorerScreen||isThisRelationsScreen" class="input-group custom-select-field">
            <select [(ngModel)]="selectedBucket" class="custom-select select-field">
              <option selected>Choose Bucket</option>
              <option *ngFor="let bucket of listOfBuckets" [value]="bucket.name">{{bucket.name}}</option>
            </select>
            <div class="pl-2">
              <button (click)="searchBucket()" class="pointer" color="warn" mat-mini-fab type="submit">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
              </button>
            </div>
          </div>

        </div>

        <div *ngIf="isLoggedIn" class="col-2 m-auto name-div">
          <img class="rounded-circle z-depth-2" height="30"
               src='{{user._picture}}'>
          <span class="name-field p-2">{{user._userName}}</span>
        </div>
        <div class="col-1.5 m-auto p-2 ">
          <button (click)="login()" *ngIf="!isLoggedIn" class="float-right" color="warn" mat-raised-button>
            Login &nbsp;
            <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
          </button>
          <button (click)="logout()" *ngIf="isLoggedIn" class="float-right" color="warn" mat-raised-button>
            Logout &nbsp;
            <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
          </button>
        </div>


      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

