<mat-card>
  <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  <div class="container-fluid">
    <app-collapsable-card #collapsableCardReference>
      <div class="row" card-title>
        <div class="col-5">
          <fa-icon [icon]="['fas', 'user']" class="icon"></fa-icon> &nbsp;<h5 class="user-label">{{user.name}}</h5>
        </div>
        <div class="col badge-wrapper">
          <div class="row">
            <button mat-flat-button color="warn" class="mat-button-buckets"
                    (click)="collapsableCardReference.toggleContent()" (click)="flowerChartComponent.createChart()">
              Buckets &nbsp;<span class="badge badge-light">{{user.bucketCount}}</span>
            </button>
          </div>
          <div class="row">
            <button mat-flat-button color="warn" class="mat-button-bucket-requests"
                    [routerLink]="['/dashboard/administration/bucket',{filter:user.name}]">
              Bucket Requests&nbsp;<span class="badge badge-light">{{user.bucketRequestsCount}}</span>
            </button>
          </div>
          <div *ngIf="!user.admin" class="row">
            <button (click)="makeAdmin()" class="mat-button-admin" color="accent" mat-flat-button>
              Make Admin &nbsp;
              <span class="badge badge-light"> <fa-icon [icon]="['fas', 'user-secret']"></fa-icon></span>
            </button>
          </div>

        </div>
      </div>
      <div class="row" card-body>
        <div class="container-fluid h-50 overflow">
          <mat-card>
            <app-flower-chart #flowerChartComponent [data]="user.bucketNames"></app-flower-chart>
          </mat-card>
        </div>
      </div>
    </app-collapsable-card>
  </div>
</mat-card>
