 <mat-card >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{bucketName}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <div class="container-fluid">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-5">
            <button *ngIf="admin"  mat-raised-button color="primary" [routerLink]="['/dashboard/addUsers',{bucketName: bucketName}]" >Add Users &nbsp; <fa-icon [icon]="['fas', 'users']"></fa-icon></button>
          </div>
          <div class="col-4">
            <button *ngIf="admin" mat-raised-button color="warn" >Delete &nbsp; <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon></button>
            <button *ngIf="!admin" mat-raised-button color="warn" [routerLink]="['/dashboard/explorer',{bucketName: bucketName}]" >View &nbsp; <fa-icon [icon]="['fas', 'eye']" class="pull-right"></fa-icon></button>

          </div>
        </div>
      </div>

    </mat-card-actions>
  </mat-card>

