
.mat-card-avatar {
  height: 41px;
  width: 65px;
}

.example-header-image {
  background-image: url('src/assets/images/bucket.png');
  background-size: cover;
}

.button{
  flaot:right !important;
}
.overflow{
  overflow: scroll;
}
