<div class="container-fluid margin-top">
  <mat-card>
    <mat-card-content>
      <div class="container-fluid" cdkDropListGroup>
        <div class="row">
          <div class="col-6">
            <mat-card-header>
              <mat-card-title>Users</mat-card-title>
            </mat-card-header>
            <div
              cdkDropList
              [cdkDropListData]="users"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let user of users" cdkDrag class="example-box">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-2">
                      <fa-icon [icon]="['fas', 'user']" class="icon"></fa-icon>
                    </div>
                    <div class="col">
                      {{getUserName(user)}} <span class="card-subtitle"> &nbsp;[&nbsp; {{user.email}}&nbsp; ]</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <mat-card-header>
              <mat-card-title>{{matcardTitle}} &nbsp;</mat-card-title>
              <div class="col select-dropdown">
                <mat-select (ngModelChange)="onChange()" [(ngModel)]="selectedBucket" class="select">
                  <!--                                    <mat-option class="empty-select" [value]="'Select Bucket'"> Select Bucket</mat-option>-->
                  <mat-option *ngFor="let bucket of buckets" [value]="bucket.name">
                    {{bucket.name}}
                  </mat-option>
                </mat-select>
              </div>
            </mat-card-header>
            <div
              cdkDropList
              [cdkDropListData]="userManged"
              class="example-list "
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let user of userManged" cdkDrag class="example-box">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-2">
                      <fa-icon [icon]="['fas', 'user']" class="icon"></fa-icon>
                    </div>
                    <div class="col">
                      {{user.userName}} <span class="card-subtitle"> &nbsp;[&nbsp; {{user.email}}&nbsp; ]</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/dashboard/users']" color=warn mat-raised-button>Cancel</button>
      <button (click)="addUsers()" class="mat-button-primary" mat-button matTooltip="Add Users">Add</button>
      <button (click)="removeUser()" color=primary mat-raised-button matTooltip="Remove User">Remove</button>
    </mat-card-actions>
  </mat-card>

</div>
